.button {
color: red;

}

.disabled {
    background: #212A34;
}

.secondary {
    background: orange;
}

.default {
    background: #0066CC;
    border-radius: 3px;
}

.red {
    background-color: red;
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
